@font-face {
    font-family: 'LemonLight';
    src: url('/assets/fonts/LEMONMILK-Light.otf') format('opentype');
}
@font-face {
    font-family: 'LemonBold';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'LemonLight';
    font-weight: bolder;
}
h1{
    font-family: 'LemonBold';
    color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;      
  height: 50px;            
  padding: 0 10px;
}

.header h1 {
  margin: 0 auto;         
  position: absolute;    
  left: 50%;
  transform: translateX(-50%);
}

.header a {
  position: absolute;
  right: 10px;
}
.container{
    margin: 10px;
    display: flex;
    width: 97vw;
    justify-content: space-between;
    
}
.containerTask{
    padding: 20px 0;
    width: 31vw;
    height: calc(100vh - 120px);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #034d72;
}

.containerTask h4{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: white;
    
    background-color: #034d72;
}

.tasks-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}
.logout{
    filter:invert(1); 
    margin-top: 20px;
}
.logout:hover{
    filter: invert(0.8);
    transition: filter 0.3s ease;
}
.task{
    margin: 5px;
    width: 30%;
    height: 100px;
    background-color: #ffb703; 
    border-radius: 4px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transform: rotate(-1deg);
    transition: transform 0.2s ease;
    position: relative;
    box-sizing: border-box;
}

.task:hover{
    background-color: #fb8500;
    cursor: grab;
    transform: rotate(0deg) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.newTask{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10000; 
}

.new-task-container{
    width: 30vw;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    position: relative;
}

.new-task-container h1{
    margin-top: 30px;
}

.new-task-container input[type="text"]{   
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.new-task-container input[type="color"]{
    width: 50%;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.addTaskButton{
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
}

.addTaskButton button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffb703;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 900;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.addTaskButton button:hover{
    background-color: #fb8500;
}

.close-add-button {
    position: absolute;
    width: 30px;             
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 20px;
    right: 20px;  
}

.close-add-button::before,
.close-add-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: black;
}

.close-add-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-add-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-add-button:hover::before,
.close-add-button:hover::after {
    background-color: lightgray;
    border-radius: 50%;
}

.add-task-button{
    border: none;
    background-color: #023047;
    color: white;
    font-family: 'LemonBold';
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20%;
}

.add-task-button:hover{
    background-color: red;
}

.delete-btn{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    color: white;
    width: 15px;
    height: 15px;
}

.delete-btn::before,
.delete-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: white;
}

.delete-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.delete-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
    